.container {
    display: flex;
    flex-direction: column;
}
.inputContainer {
    display: flex;
    /* width: 100%; */
}
.input {
    width: 100%;
    height: 69px;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.input::placeholder {
    opacity: 1;
}

.tagsList {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: -0.2rem;
    border-radius: 0 0 5px 5px;
}

.blue {
    background-color: var(--primary-button);
}
.green {
    background-color: var(--secondary-button);
}
.red {
    background-color: var(--tertiary-button);
}

.showList {
    display: grid;
}

.hideList {
    display: none;
}
