.container {
    display: flex;
}
.input {
    width: 170px;
    height: 69px;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.input::placeholder {
    opacity: 1;
}

.blue {
    background-color: var(--primary-button);
}
.green {
    background-color: var(--secondary-button);
}
.red {
    background-color: var(--tertiary-button);
}